In [1]:
# Import dependencies
import pandas as pd
from pathlib import Path

In [4]:
# File to Load
node_path = Path("../Datasets/NODE.csv")

In [5]:
# Read the CSV file
node_data = pd.read_csv(node_path, low_memory=False)

In [6]:
# Store it in a Dataframe
node_data_df = pd.DataFrame(node_data)
node_data_df.head()

,ACCIDENT_NO,NODE_ID,NODE_TYPE,VICGRID94_X,VICGRID94_Y,LGA_NAME,LGA_NAME_ALL,REGION_NAME,DEG_URBAN_NAME,Lat,Long,POSTCODE_NO
0,T20060002689,22,I,2495701.925,2411599.135,MELBOURNE,MELBOURNE,METROPOLITAN NORTH WEST REGION,MELB_URBAN,-37.796596,144.951197,3051
1,T20060010827,22,I,2495701.925,2411599.135,MELBOURNE,MELBOURNE,METROPOLITAN NORTH WEST REGION,MELB_URBAN,-37.796596,144.951197,3051
2,T20060017279,22,I,2495701.925,2411599.135,MELBOURNE,MELBOURNE,METROPOLITAN NORTH WEST REGION,MELB_URBAN,-37.796596,144.951197,3051
3,T20060041762,22,I,2495701.925,2411599.135,MELBOURNE,MELBOURNE,METROPOLITAN NORTH WEST REGION,MELB_URBAN,-37.796596,144.951197,3051
4,T20060047478,22,I,2495701.925,2411599.135,MELBOURNE,MELBOURNE,METROPOLITAN NORTH WEST REGION,MELB_URBAN,-37.796596,144.951197,3051

In [7]:
# Get the total of unique accident data from node table
unique_node_data = len(node_data["ACCIDENT_NO"].unique())
unique_node_data

202854

In [8]:
# Checking the data types
column_data_types = node_data_df.dtypes
column_data_types

ACCIDENT_NO        object
NODE_ID             int64
NODE_TYPE          object
VICGRID94_X       float64
VICGRID94_Y       float64
LGA_NAME           object
LGA_NAME_ALL       object
REGION_NAME        object
DEG_URBAN_NAME     object
Lat               float64
Long              float64
POSTCODE_NO         int64
dtype: object

In [9]:
# Changing data type into a string
node_data_df['NODE_TYPE'] = node_data_df['NODE_TYPE'].astype("string")

In [10]:
# Replace 'Empty Space' values with 'U' for unknown in the 'NODE_TYPE' column
node_data_df['NODE_TYPE'] = node_data_df['NODE_TYPE'].replace(' ', 'U')

In [11]:
# Find columns with missing values
columns_with_missing_values = node_data_df.isnull().any()

# Display the columns with missing values
print(columns_with_missing_values)

ACCIDENT_NO       False
NODE_ID           False
NODE_TYPE         False
VICGRID94_X       False
VICGRID94_Y       False
LGA_NAME          False
LGA_NAME_ALL      False
REGION_NAME       False
DEG_URBAN_NAME    False
Lat               False
Long              False
POSTCODE_NO       False
dtype: bool

In [13]:
# Storing file in Data folder
cleaned_data_output_path = Path("../Cleaned_Datasets/node_cleaned.csv")
node_data_df.to_csv(cleaned_data_output_path, index=None, header=True)